<launch>

  <arg name="ouster_ns" default="ouster" doc="Override the default namespace of all ouster nodes"/>
  <arg name="sensor_hostname" doc="hostname or IP in dotted decimal form of the sensor"/>
  <arg name="udp_dest" default=" " doc="hostname or IP where the sensor will send data packets"/>
  <arg name="lidar_port" default="0" doc="port to which the sensor should send lidar data"/>
  <arg name="imu_port" default="0" doc="port to which the sensor should send imu data"/>
  <!-- The following profiles are only available with FW3.2:
    RNG15_RFL8_NIR8_DUAL
    RNG15_RFL8_WIN8,
    RNG15_RFL8_NIR8_ZONE16,
    RNG19_RFL8_SIG16_NIR16_ZONE16
   -->
  <arg name="udp_profile_lidar" default=" "
    doc="lidar packet profile; possible values: {
    LEGACY,
    RNG19_RFL8_SIG16_NIR16,
    RNG15_RFL8_NIR8
    RNG19_RFL8_SIG16_NIR16_DUAL,
    FUSA_RNG15_RFL8_NIR8_DUAL (deprecated, renamed to RNG15_RFL8_NIR8_DUAL),
    RNG15_RFL8_NIR8_DUAL (FW3.2+),
    RNG15_RFL8_WIN8 (FW3.2+),
    RNG15_RFL8_NIR8_ZONE16 (FW3.2+),
    RNG19_RFL8_SIG16_NIR16_ZONE16 (FW3.2+)
    }"/>
  <!-- ACCEL32_GYRO32_NMEA is only available with FW 3.2+-->
  <arg name="udp_profile_imu" default=""
    doc="imu packet profile; possible values: {
    LEGACY,
    ACCEL32_GYRO32_NMEA (FW3.2+)
    }"/>
  <!-- Only set this parameter when working with FW 3.2+ -->
  <arg name="imu_packets_per_frame" default="0"
    doc="number of IMU packets per frame; possible values: {1, 2, 4, 8}"/>
  <!-- Only set this parameter when working with FW 3.1+ -->
  <arg name="gyro_fsr" default=" "
    doc="gyro full scale range (FW3.1+); possible values: {
    NORMAL,
    EXTENDED
    }"/>
  <!-- Only set this parameter when working with FW 3.1+ -->
  <arg name="accel_fsr" default=" "
    doc="accel full scale range (FW3.1+); possible values: {
    NORMAL,
    EXTENDED
    }"/>
  <arg name="lidar_mode" default=" "
    doc="resolution and rate; possible values: {
    512x10,
    512x20,
    1024x10,
    1024x20,
    2048x10,
    4096x5
    }"/>
  <arg name="timestamp_mode" default=" "
    doc="method used to timestamp measurements; possible values: {
    TIME_FROM_INTERNAL_OSC,
    TIME_FROM_SYNC_PULSE_IN,
    TIME_FROM_PTP_1588,
    TIME_FROM_ROS_TIME
    }"/>

  <arg name="multipurpose_io_mode" default="OFF"
    doc="Configure the mode of the MULTIPURPOSE_IO pin; possible values: {
    OFF,
    INPUT_NMEA_UART,
    OUTPUT_FROM_INTERNAL_OSC,
    OUTPUT_FROM_SYNC_PULSE_IN,
    OUTPUT_FROM_PTP_1588,
    OUTPUT_FROM_ENCODER_ANGLE
    }"/>
 
  <arg name="nmea_in_polarity" default="ACTIVE_HIGH"
    doc="Set the polarity of NMEA UART input $GPRMC messages.
      Use ACTIVE_HIGH if UART is active high, idle low, and start bit is after a falling edge.
      possible values: {
        ACTIVE_HIGH,
        ACTIVE_LOW
    }"/>
   
  <arg name="nmea_ignore_valid_char" default="false"
    doc="Set false if NMEA UART input $GPRMC messages should be ignored if valid character is not set,
      and true if messages should be used for time syncing regardless of the valid character."/>

  <arg name="nmea_baud_rate" default="BAUD_9600"
    doc="Expected baud for NMEA UART $GPRMC; possible values: {
        BAUD_9600,
        BAUD_115200
    }"/>
  
  <arg name="nmea_leap_seconds" default="0"
    doc="Set an integer number of leap seconds that will be added to the UDP timestamp when calculating seconds since 00:00:00 Thursday, 1 January 1970.
      For Unix Epoch time, this should be set to 0."/>
  
  <arg name="sync_pulse_in_polarity" default="ACTIVE_HIGH"
    doc="The polarity of SYNC_PULSE_IN input, which controls polarity of SYNC_PULSE_IN pin when timestamp_mode is set in TIME_FROM_SYNC_PULSE_IN;
      possible values: {
        ACTIVE_HIGH,
        ACTIVE_LOW
    }"/>

  <arg name="sync_pulse_out_polarity" default="ACTIVE_LOW"
    doc="Polarity of SYNC_PULSE_OUT when this sensor is the time-sync master;
      possible values: {
        ACTIVE_HIGH,
        ACTIVE_LOW
    }"/>
  
  <arg name="sync_pulse_out_frequency" default="-1"
    doc="The output SYNC_PULSE_OUT pulse rate in Hz. Valid inputs are integers >0 Hz,
    but also limited by the criteria described in the Time Synchronization section of the Firmware User Manual."/>

  <arg name="sync_pulse_out_angle" default="-1"
    doc="The angle in terms of degrees that the sensor traverses between each SYNC_PULSE_OUT pulse. 
      E.g. a value of 180 means a sync pulse is sent out every 180° for a total of two pulses per revolution and angular frequency of 20 Hz;
      values range [0, 360], -1 is unset"/>

  <arg name="sync_pulse_out_pulse_width" default="-1"
    doc="The polarity of SYNC_PULSE_OUT output, if the sensor is set as the master sensor used for time synchronization.
      Output SYNC_PULSE_OUT pulse width is in ms, increments in 1 ms. -1 is unset"/>

  <arg name="ptp_utc_tai_offset" default="-37.0"
    doc="UTC/TAI offset in seconds to apply when using TIME_FROM_PTP_1588"/>
  <arg name="metadata" default=" " doc="path to write metadata file when receiving sensor data"/>
  <arg name="viz" default="true" doc="whether to run a rviz"/>
  <arg name="rviz_config" default="$(find ouster_ros)/config/viz.rviz" doc="optional rviz config file"/>

  <arg name="tf_prefix" default=" " doc="namespace for tf transforms"/>
  <arg name="sensor_frame" default="os_sensor"
    doc="sets name of choice for the sensor_frame tf frame, value can not be empty"/>
  <arg name="lidar_frame" default="os_lidar"
    doc="sets name of choice for the os_lidar tf frame, value can not be empty"/>
  <arg name="imu_frame" default="os_imu"
    doc="sets name of choice for the os_imu tf frame, value can not be empty"/>
  <arg name="point_cloud_frame" default=" "
    doc="which frame to be used when publishing PointCloud2 or LaserScan messages.
    Choose between the value of sensor_frame or lidar_frame, leaving this value empty
    would set lidar_frame to be the frame used when publishing these messages."/>
  <arg name="pub_static_tf" default="true" doc="
    which frame to be used when publishing PointCloud2 or LaserScan messages.
    Choose between the value of sensor_frame or lidar_frame, leaving this value empty
    would set lidar_frame to be the frame used when publishing these messages."/>

  <arg name="no_bond" default="false"
    doc="request no bond setup when nodelets are created"/>
  <arg if="$(arg no_bond)" name="_no_bond" value="--no-bond"/>
  <arg unless="$(arg no_bond)" name="_no_bond" value=" "/>

  <arg name="proc_mask" default="IMU|PCL|SCAN|IMG|RAW|TLM" doc="
    use any combination of the 4 flags to enable or disable specific processors"/>

  <arg name="scan_ring" default="0" doc="
    use this parameter in conjunction with the SCAN flag
    and choose a value the range [0, sensor_beams_count)"/>

  <arg name="point_type" default="original"
    doc="point type for the generated point cloud; available options: {
    original,
    native,
    xyz,
    xyzi,
    o_xyzi,
    xyzir
    }"/>

  <arg name="azimuth_window_start" default="0" doc="azimuth window start;
    values range [0, 360000] millidegrees"/>
  <arg name="azimuth_window_end" default="360000" doc="azimuth window end;
    values range [0, 360000] millidegrees"/>

  <arg name="operating_mode" default="NORMAL"
    doc="operating mode of the sensor; possible values: {
    NORMAL,
    STANDBY
    }"/>

  <arg name="signal_multiplier" default="1.0"
    doc="Multiplier for signal strength of sensor; possible values: {0.25, 0.5, 1, 2, 3}"/>

  <arg name="phase_lock_enable" default="false"
    doc="enable or disable phase lock"/>
  <arg name="phase_lock_offset" default="0"
    doc="Angle that sensors are locked to in millidegrees, values range [0, 360000]"/>

  <!-- Only set this parameter when working with FW 3.2+ -->
  <arg name="lidar_frame_azimuth_offset" default="-1"
    doc="The lidar frame azimuth offset for the sensor to use in millidegrees (FW3.2+);
    values range [0, 360000], -1 is unset"/>

  <!-- Only set this parameter when working with FW 3.1+ -->
  <arg name ="return_order" default=" "
    doc="order of returns to use for generating point cloud (FW3.1+); possible values:
    STRONGEST_TO_WEAKEST,
    FARTHEST_TO_NEAREST,
    NEAREST_TO_FARTHEST
    "/>

  <!-- Only set this parameter when working with FW 3.1+ -->
  <arg name="min_distance" default="-1"
    doc="to change the sensor’s minimum reported range (cm);
    available options (FW3.1+): {0, 30}
    available options (FW3.2+): {0, 30, 50}"
     />

  <!-- Only set this parameter when working with FW 3.2+ -->
  <arg name="bloom_reduction_optimization" default=" "
    doc="level of bloom reduction optimization to apply on the sensor (FW3.2+); possible values:
    BALANCED,
    MINIMIZE_FALSE_POSITIVES
    "/>

  <arg name="persist_config" default="false"
    doc="request the sensor to persist settings"/>

  <arg name="attempt_reconnect" default="false"
    doc="attempting to reconnect to the sensor after connection loss or
    sensor powered down"/>
  <arg name="dormant_period_between_reconnects" default="1.0"
    doc="wait time in seconds between reconnection attempts"/>
  <arg name="max_failed_reconnect_attempts" default="2147483647"
    doc="maximum number of attempts trying to communicate with the sensor.
         Counter resets upon successful connection"/>

  <arg name="organized" default="true"
    doc="generate an organzied point cloud"/>
  <arg name="destagger" default="true"
    doc="enable or disable point cloud destaggering"/>

  <arg name="min_range" default="0.0"
    doc="minimum lidar range to consider (meters)"/>
  <arg name="max_range" default="10000.0"
    doc="maximum lidar range to consider (meters)"/>

  <arg name="min_scan_valid_columns_ratio" default="0.0"
    doc="The minimum ratio of valid columns for processing the LidarScan [0, 1]"/>

  <arg name="v_reduction" default="1"
    doc="vertical beam reduction; available options: {1, 2, 4, 8, 16}"/>

  <arg name="mask_path" default=""
    doc="path to an image file that will be used to mask parts of the pointcloud"/>

  <group ns="$(arg ouster_ns)">
    <node pkg="nodelet" type="nodelet" name="os_nodelet_mgr"
      output="screen" required="true" args="manager"/>
  </group>

  <group ns="$(arg ouster_ns)">
    <node pkg="nodelet" type="nodelet" name="os_driver"
      output="screen" required="true"
      args="load ouster_ros/OusterDriver os_nodelet_mgr $(arg _no_bond)">
      <param name="~/sensor_hostname" type="str" value="$(arg sensor_hostname)"/>
      <param name="~/udp_dest" type="str" value="$(arg udp_dest)"/>
      <param name="~/lidar_port" type="int" value="$(arg lidar_port)"/>
      <param name="~/imu_port" type="int" value="$(arg imu_port)"/>
      <param name="~/udp_profile_lidar" type="str" value="$(arg udp_profile_lidar)"/>
      <param name="~/udp_profile_imu" type="str" value="$(arg udp_profile_imu)"/>
      <param name="~/imu_packets_per_frame" type="int" value="$(arg imu_packets_per_frame)"/>
      <param name="~/gyro_fsr" type="str" value="$(arg gyro_fsr)"/>
      <param name="~/accel_fsr" type="str" value="$(arg accel_fsr)"/>
      <param name="~/lidar_mode" type="str" value="$(arg lidar_mode)"/>
      <param name="~/timestamp_mode" type="str" value="$(arg timestamp_mode)"/>
      <param name="~/multipurpose_io_mode" type="str" value="$(arg multipurpose_io_mode)"/>
      <param name="~/nmea_in_polarity" type="str" value="$(arg nmea_in_polarity)"/>
      <param name="~/nmea_ignore_valid_char" type="bool" value="$(arg nmea_ignore_valid_char)"/>
      <param name="~/nmea_baud_rate" type="str" value="$(arg nmea_baud_rate)"/>
      <param name="~/nmea_leap_seconds" type="int" value="$(arg nmea_leap_seconds)"/>
      <param name="~/sync_pulse_in_polarity" type="str" value="$(arg sync_pulse_in_polarity)"/>
      <param name="~/sync_pulse_out_polarity" type="str" value="$(arg sync_pulse_out_polarity)"/>
      <param name="~/sync_pulse_out_frequency" type="int" value="$(arg sync_pulse_out_frequency)"/>
      <param name="~/sync_pulse_out_angle" type="int" value="$(arg sync_pulse_out_angle)"/>
      <param name="~/sync_pulse_out_pulse_width" type="int" value="$(arg sync_pulse_out_pulse_width)"/>
      <param name="~/ptp_utc_tai_offset" type="double"
        value="$(arg ptp_utc_tai_offset)"/>
      <param name="~/metadata" type="str" value="$(arg metadata)"/>
      <param name="~/tf_prefix" value="$(arg tf_prefix)"/>
      <param name="~/sensor_frame" value="$(arg sensor_frame)"/>
      <param name="~/lidar_frame" value="$(arg lidar_frame)"/>
      <param name="~/imu_frame" value="$(arg imu_frame)"/>
      <param name="~/point_cloud_frame" value="$(arg point_cloud_frame)"/>
      <param name="~/pub_static_tf" value="$(arg pub_static_tf)"/>
      <param name="~/proc_mask" value="$(arg proc_mask)"/>
      <param name="~/scan_ring" value="$(arg scan_ring)"/>
      <param name="~/point_type" value="$(arg point_type)"/>
      <param name="~/azimuth_window_start" value="$(arg azimuth_window_start)"/>
      <param name="~/azimuth_window_end" value="$(arg azimuth_window_end)"/>
      <param name="~/operating_mode" value="$(arg operating_mode)"/>
      <param name="~/signal_multiplier" value="$(arg signal_multiplier)"/>
      <param name="~/phase_lock_enable" value="$(arg phase_lock_enable)"/>
      <param name="~/phase_lock_offset" value="$(arg phase_lock_offset)"/>
      <param name="~/lidar_frame_azimuth_offset" value="$(arg lidar_frame_azimuth_offset)"/>
      <param name="~/return_order" value="$(arg return_order)"/>
      <param name="~/bloom_reduction_optimization" value="$(arg bloom_reduction_optimization)"/>
      <param name="~/persist_config" value="$(arg persist_config)"/>
      <param name="~/attempt_reconnect" value="$(arg attempt_reconnect)"/>
      <param name="~/dormant_period_between_reconnects"
             value="$(arg dormant_period_between_reconnects)"/>
      <param name="~/max_failed_reconnect_attempts"
             value="$(arg max_failed_reconnect_attempts)"/>
      <param name="~/organized" value="$(arg organized)"/>
      <param name="~/destagger" value="$(arg destagger)"/>
      <param name="~/min_distance" value="$(arg min_distance)"/>
      <param name="~/min_range" value="$(arg min_range)"/>
      <param name="~/max_range" value="$(arg max_range)"/>
      <param name="~/v_reduction" value="$(arg v_reduction)"/>
      <param name="~/mask_path" value="$(arg mask_path)"/>
      <param name="~/min_scan_valid_columns_ratio"
        value="$(arg min_scan_valid_columns_ratio)"/>
    </node>
  </group>

  <node if="$(arg viz)" pkg="rviz" name="rviz" type="rviz"
    output="screen" required="false" launch-prefix="bash -c 'sleep 5; $0 $@' "
    args="-d $(arg rviz_config)"/>

</launch>
