name: ouster-ros

on:
  push:
    branches:
      - ros2
  pull_request:
    branches:
      - ros2

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        exclude:
          - ros_distro: iron
        ros_distro:
          - rolling
          - humble
          - iron
          - jazzy
          - kilted
        rmw_imp:
          - rmw_fastrtps_cpp
          - rmw_cyclonedds_cpp
          - rmw_zenoh_cpp
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build the Docker image
        run: |
          docker build .                                          \
            --build-arg ROS_DISTRO=${{ matrix.ros_distro }}       \
            --build-arg RMW_IMPLEMENTATION=${{ matrix.rmw_imp }}  \
            --file Dockerfile                                     \
            --tag ouster-ros-${{ matrix.ros_distro }}:$(date +%s)
